@import url(https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz);
@import url(https://fonts.googleapis.com/css?family=Droid+Sans:400,700,400italic);
@import url(https://fonts.googleapis.com/css?family=Ubuntu+Mono:400,700,400italic);

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
  width: 100vw;
  height: 100vh;
}

body {
  position: relative;
  width: min(100vw, 100vh*16/9);
  height: min(100vh, 100vw*9/16);
  margin: max(0vh, (100vh - 100vw*9/16)/2) max(0vw, (100vw - 100vh*16/9)/2);
  font-size: min(2.5vw, 2.5vh*16/9);
  font-family: 'Droid Sans';
  text-align: justify;
  box-shadow: 0 0 50px rgba(0,0,0,0.5);
}

section.slide {
  width: 100%;
  height: 100%;
  padding: 4% 6%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  row-gap: 0.2em;
}

section.title {
  background-image: url(title.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  text-align: right;
  text-shadow: 0.2em 0.2em 0.4em #AAAAAA;
  h1 { font-size: 4em; position: absolute; bottom: 40%; right: 10vw; }
  h2 { font-size: 2em; position: absolute; top: 70%; right: 10vw; }
  h3 { font-size: 1.5em; position: absolute; top: 10%; left: 8vw; }
}

div.slidenumber {
  font-size: 0.8em; 
  font-family: 'Droid Sans';
  position: absolute; 
  bottom: 2%; 
  right: 2%; 
  color: grey;
}

h1, h2, h3 { font-family: 'Yanone Kaffeesatz'; font-weight: normal; }
h1 { font-size: 2em; padding-bottom: 0.5em; }
p { padding-bottom: 0.2em; }
img { filter: drop-shadow(0.3em 0.3em 0.3em #888888); }
pre.abs { position: absolute; }
pre code {
  filter: drop-shadow(0.3em 0.3em 0.3em #888888);
  font-size: 0.8em;
  font-family: 'Ubuntu Mono';
}

svg {
  position: absolute;
  left: 0;
  top: 0;
  width: 100vw;   /* 100% of the viewport width */
  height: calc(100vw * 9.0/16.0);   /* 50% of the viewport height */
  display: block;
}

svg.arrow path {
  stroke: #000000;
  stroke-width: 4px;
  stroke-linecap: round;
  stroke-linejoin: round;
  fill: none;
  filter: drop-shadow(12px 12px 8px #888888);
  marker-end: url(#global-arrowhead);
}

.abs {
  position: absolute;
}
.center-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

blockquote {
  background-color: #fcebba;
  font-size: 0.7em;
  padding: 0.5em;
  color: #666;
  border-radius: 0.2em;
  filter: drop-shadow(0.3em 0.3em 0.3em #888888);
  > p { margin: 0em; }
  > ul { margin: 0em; }

}

@media screen {
  body { overflow: hidden; }
  section { position: absolute; }
  section:has(:target) { visibility: visible; }
  section:not(:has(:target)) { visibility: hidden; }
  [id^=slide]:target { visibility: visible; }
  [id^=slide]:target ~ div { visibility: hidden; }
}
